* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Segoe";
  /* font-weight: 400;
  font-style: normal; */
  src:
    local("Segoe"),
    url("/public/fonts/SegoeUIRegular/SegoeUIRegular.eot") format("eot"),
    url("/public/fonts/SegoeUIRegular/SegoeUIRegular.ttf") format("ttf"),
    url("/public/fonts/SegoeUIRegular/SegoeUIRegular.woff") format("woff");
}

body {
  background-color: #efefef;
  font-family: "Segoe", sans-serif;
  
}
